Options -Indexes

RewriteEngine on
#RewriteRule .*\.()$ - [F,NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?hadisafari.ir/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?hadisafari.ir$      [NC]
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?pic.hadisafari.ir/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?pic.hadisafari.ir$      [NC]
RewriteCond %{REQUEST_FILENAME} !/icon\..*$
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|tiff|js)$ - [F,NC,L]

